<h1>Welcome to Isee</h1>
<p>Enter the following code on the website to validate your email</p>
<b>{{ validationCode }}</b>
<p>This code will be valid for 10 minutes</p>
<p>If you did not request this email you can safely ignore it.</p>
